/******************************
    - Main Style
*******************************/
main{
    padding-top: 90px;
}

/******************************
    - section1#feature Style
*******************************/
/*기본 section 설정*/
section#feature{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
#feature .contentsWrap{
    height: 740px;
}

.titleAni .subtitleAni .paragraphAni .buttonAni .videoAni{
    position: relative;
    top: -5%;
    opacity: 0;
}

#feature .contentsWrap:nth-of-type(2n-1){
    padding-right: 0;
}
#feature .contentsWrap:nth-of-type(2n){
    padding-left: 0;
}

/*artcle*/
#feature .contentsWrap article.info{
    position: relative;
    width: 50%;
    word-break: keep-all;
}
#feature .contentsWrap:nth-of-type(2n-1) article.info{
    padding-right: 60px;
}

#feature .contentsWrap:nth-of-type(2n) article.info{
    padding-left: 60px;
}

/*video 설정*/
#feature .contentsWrap div.video{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#feature .contentsWrap video{
    width: 100%;
    position: relative;
}

/*button 설정*/
#feature .contentsWrap button{
    font-size: 0.95rem;
    padding: 12px 15px;
    margin-top: 40px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
}
#feature .contentsWrap button.active{
    animation: fadeInUp 1s 0.6s forwards ease-out;
}

#feature .contentsWrap button:hover {
    background-color: #E5E4E3;
}

/*1번섹션 개별 설정*/
#feature .contentsWrap:nth-of-type(1) .subTitle{
    font-size: 3.5em;
}
#feature .contentsWrap:nth-of-type(1) div.video{
    position: relative;
}
#feature .contentsWrap:nth-of-type(1) button{
    background-color: #40c3a7;
    color: white;
    font-weight: bold;
    font-size: 1.025rem;
    border: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
#feature .contentsWrap:nth-of-type(1) button:hover{
    background-color: #40c3a7;
}

#feature .contentsWrap:nth-of-type(1) button .whaleLogo {
    width: 28px;
    height: 28px;
    background: url(../../img/whale_white.svg) center / contain no-repeat;
    display: inline-block;
    position: relative;
    left: -2px;
    top: 2px;
}
#feature .contentsWrap:nth-of-type(1) video, section.contents:nth-of-type(2) video{
    position: relative;
}

/******************************
    - section2#secure Style
*******************************/
section#secure{
    width: 100%;
    height: 1126px;
    background-color: #f2effd;
    padding: 150px 0;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secure #accordion{
    margin-right: 60px;
    margin-top: 70px;
    padding-bottom: 20px;
    flex: 1 1 0;
    max-width: 498px;
}

#secure #accordion>div{
    position: relative;
    padding: 40px 30px 40px 40px;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: color 0.7s;
    overflow: hidden;
}
#secure #accordion>div:nth-of-type(1){
    background: rgb(125,115,253);
    background: linear-gradient(120deg, rgba(125,115,253,1) 0%, rgba(111,67,233,1) 100%);
}

#secure #accordion>div:nth-of-type(2){
    background: rgb(115,131,252);
    background: linear-gradient(120deg, rgba(115,131,252,1) 0%, rgba(57,88,247,1) 100%);
}
#secure #accordion>div:nth-of-type(3){
    background: rgb(102,199,157);
    background: linear-gradient(120deg, rgba(102,199,157,1) 0%, rgba(64,163,155,1) 100%);
}
#secure #accordion>div:nth-of-type(4){
    background: rgb(248,171,0);
    background: linear-gradient(120deg, rgba(248,171,0,1) 0%, rgba(241,148,0,1) 100%);
}

#secure #accordion>div>h3{
    font-size: 1.625rem;
}

#secure #accordion>div>.paragraph{
    color: #fff;
    width: 95%;
}
#secure #accordion>div>p>span{
    opacity: 0.8;
}

#secure #accordion>div:not(.active){
    padding: 25px 30px 25px 40px;
    color: black;
    border-top: 1px solid lightgray;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#secure #accordion>div.active+div{
    border-top: none;
}
#secure #accordion>div.active>ul{
    position: absolute;
    right: 30px;
    top: 40px;
}
#secure #accordion>div.active>ul>li{
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    opacity: 0.5;
}
#secure #accordion>div.active:nth-of-type(1)>ul>li:nth-of-type(1), #secure #accordion>div.active:nth-of-type(2)>ul>li:nth-of-type(2), #secure #accordion>div.active:nth-of-type(3)>ul>li:nth-of-type(3), #secure #accordion>div.active:nth-of-type(4)>ul>li:nth-of-type(4){
    opacity: 1;
}

section#secure .gallery{
    padding-top: 60px;
    width: 800px;
    height: 700px;
}

section#secure .gallery img{
    width: 100%;
    display: none;
}
section#secure .gallery img.active{
    display: block;
}
#secure #accordion>div>p>img{
    display: none;
    position: relative;
    width: 350px;
    left: 50%;
    margin-top: -40px;
    margin-left: -175px;
    bottom: -73px;
}

/******************************
    - section3#environment Style
*******************************/
section#environment{
    width: 100%;
    height: 900vh;
    position: relative;
    z-index: -1;
}
#environment .fixWrap{
    position: sticky;
    width: 100%;
    padding-top: 180px;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#environment .titleWrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 40px;
}
#environment .subTitles{
    height: 4.5rem;
    overflow: hidden;
}
#environment .subTitles .title{
    line-height: 100%;
}
#environment .subTitle2,#environment .subTitle3{
    opacity: 0;
}
#environment .subTitle3{
    color: white;
}
#environment .contentsWrap{
    display: flex;
    justify-content: center;
}
#environment .paragraph{
    position: relative;
}
#environment .paragraph li:nth-of-type(3){
    opacity: 0;
}
#environment .paragraph li:nth-of-type(1), #environment .paragraph li:nth-of-type(3){
    top: 0;
    width: 100%;
    position: absolute;
}
#environment .paragraph li:nth-of-type(2){
    position: relative;
    opacity: 0;
    width: 100%;
}


#environment .animation{
    /*border: 1px solid #000;*/
    width: 100%;
    max-width: 1066px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#environment div.background{
    position: relative;
    width: 100%;
    padding-top: 2%;
    transform-origin: top center;
}
#environment img{
    width: 100%;
    position: relative;
}
#environment img.pos-absolute{
    position: absolute;
    top: 0;
    left: 0;
}

#environment div.ui{
    position: absolute;
    top: 17.5%;
    left: 6.2%;
    width: 87.80%;
}

#environment div.theme{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95.41%;
}

#environment div.menuTheme{
    position: absolute;
    top: 12%;
    right: 3.4%;
    width: 30.55%;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}

.upNav{
    position: absolute;
    top: 0;
    width: 100%;
}
.upNav img, .menuTheme .icon2, .ui-dark, .navThemeDark{
    opacity: 0;
}
.menuTheme .icon1{
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

#triggerEnv0{
    position: absolute;
    top: 0;
    height: 750vh;
}
#environment .cursor{
    position: absolute;
    opacity: 0;
    top: 35%;
    left: 63%;
    width: 4%;
}
.icons{
    width: 59%;
    position: absolute;
    top: 2%;
    right: 30%;
}

/******************************
    - section4#appService Style
*******************************/
section#appService{
    width: 100%;
    background-color: #f7f9fb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;

}

section#appService>div.contentsWrap:nth-of-type(1){
}

section#appService .titleWrap{
    margin: 60px 0 70px 0;
}

section#appService .whaleApps{
    width: 664px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.whaleApps li{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 20px lightgray;
    -webkit-background-size: 70%;
    background-size: 70%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
    /*border: 1px solid #000;*/
}
.whaleApps li:nth-of-type(2n){
    align-self: end;
}

.whaleAppsInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.whaleAppsInfo li{
    width: 49.05665%;
    /*max-width: 624px;*/
    padding: 32px 36px;
    background: #fff;
    box-shadow: 0 0 20px lightgray;
    display: flex;
    align-items: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.whaleAppsInfo li:nth-of-type(2n-1){
    margin-right: 1.8867%;
}
.whaleAppsInfo li:nth-of-type(1), .whaleAppsInfo li:nth-of-type(2){
    margin-bottom: 1.8515%;
}
.whaleAppsInfo li .icon{
    width: 84px;
    height: 84px;
}
.whaleAppsInfo li div:nth-of-type(2){
    margin-left: 24px;
}
.whaleAppsInfo li h3{
    font-size: 1.625rem;
}

.webtoon{
    background:  white url("../../img/webtoon_128x128.png") center / contain no-repeat;
}
.stock{
    background: white  url("../../img/real128.png") center / contain no-repeat;
}
.audioBook{
    background:  white url("../../img/Extendapp_audioclip.png") center / contain no-repeat;
}
.music{
    background:  white url("../../img/Extendapp_music.png") center / contain no-repeat;
}
.mail{
    background:  white url("../../img/naver_mail_128.png") center / contain no-repeat;
}

/******************************
    - section5#adBanner Style
*******************************/
section#adBanner{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    background-color: #040d39;
}

#adBanner .noPaddingWrap h2{
    word-break: keep-all;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
}
#adBanner .noPaddingWrap p{
    margin-top: 8px;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 24px;
}

#adBanner button{
    background-color: #40c3a7;
    color: white;
    font-weight: bold;
    border: none;
    padding: 7px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

#adBanner .whaleLogo{
    width: 24px;
    height: 24px;
    background: url(../../img/whale_white.svg) center / contain no-repeat;
    display: inline-block;
    position: relative;
    left: -2px;
    top: 2px;
}

#adBanner .noPaddingWrap{
    padding: 80px 50px;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: url("../../img/banner_beta_download_wave_1440.png") bottom center / contain no-repeat;
}

#adBanner .wordWrap{
    width: calc(100% - 500px);
}

#adBanner .cellphone{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: url("../../img/banner_beta_download_phone_1440.png") 0 0 / contain no-repeat;
}