@media screen and (max-width: 600px) {
    /******************************
    - section1#feature Style
    *******************************/
    #feature .contentsWrap:nth-of-type(2n-1), #feature .contentsWrap:nth-of-type(2n){
        padding: 60px 30px 0 20px;
    }

    #feature .contentsWrap:nth-of-type(2n-1) article.contents-info-btn, #feature .contentsWrap:nth-of-type(2n) article.contents-info-btn {
        padding: 0;
    }

    /*button 설정*/
    #feature .contentsWrap article.contents-info-btn button{
        margin-top: 28px;
    }

    /******************************
    - section2#secure Style
     *******************************/

    #secure .titleWrap {
        padding: 0 20px;
    }
    #secure #accordion .contents-accordion {
        padding: 16px 30px 16px 25px;
    }
    #secure #accordion .contents-accordion.active {
        padding: 30px 30px 0px 25px;
    }

    #secure #accordion .contents-accordion.active > ul {
        right: 20px;
    }

    #secure #accordion .contents-accordion.active p>img {
        width: 220px;
        left: 50%;
        margin-top: -25px;
        margin-left: -110px;
        position: relative;
        bottom: -45px;
    }
    /******************************
    - section3#environment Style
*******************************/
    #environment #animation-sticky-Pin .titleWrap{
        height: calc(25% + 80px);
    }

    #environment .titles-change{
        height: 1.875rem;
    }
    #environment .contentsWrap:nth-of-type(2){
        margin-top: 50px;
    }


    /******************************
    - section4#appService Style
    *******************************/
    section#appService {
        padding: 80px 0 46px;
    }

    section#appService .contents-whaleApps {
        width: 320px;
        height: 73.328px;
    }
    section#appService .titleWrap {
        margin: 32px auto;
    }

    .contents-whaleApps  li{
        width: 53.33px;
        height: 53.33px;
    }

    /******************************
 - section5#adBanner Style
 *******************************/
    section#adBanner .contentsWrap{
        padding-left: 20px;
    }

    #adBanner .cellphone {
        width: 280px;
        height: 220px;
    }
}