@media screen and (max-width: 600px) {
    /******************************
    - section1#feature Style
    *******************************/
    #feature .contentsWrap:nth-of-type(2n-1), #feature .contentsWrap:nth-of-type(2n){
        padding: 0 20px;
    }

    #feature .contentsWrap:nth-of-type(2n-1) article.contents-info-btn, #feature .contentsWrap:nth-of-type(2n) article.contents-info-btn {
        padding: 0;
    }

    /*button 설정*/
    #feature .contentsWrap article.contents-info-btn button{
        margin-top: 28px;
    }

    /******************************
    - section2#secure Style
     *******************************/
    section#secure {
        padding: 80px 0 60px 0;
        height: 835px;
    }

    #secure .secureWrap, #secure .titleWrap {
        padding: 0 20px;
    }

    #secure #accordion > div > h3 {
        font-size: 1.225rem;
        margin-bottom: 0;
    }

    #secure #accordion > div {
        padding: 30px 30px 30px 25px;
    }

    #secure #accordion > div:not(.active) {
        padding: 16px 30px 16px 25px;
    }

    #secure #accordion > div.active > ul {
        right: 20px;
    }

    #secure #accordion > div > p > img {
        width: 220px;
        left: 50%;
        margin-top: -25px;
        margin-left: -110px;
        bottom: -45px;
    }
    /******************************
    - section3#environment Style
*******************************/
    #environment .fixWrap{
        padding-top: 0px;
        justify-content: center;
    }

    #environment .titles-change{
        height: 1.875rem;
    }

    /******************************
    - section4#appService Style
    *******************************/
    section#appService > div.contents {
        padding: 80px 20px 70px 20px;
    }

    section#appService .whaleApps {
        width: 320px;
        height: 73.328px;
    }
    section#appService .titleWrap .title{
        width: 360px;
        margin: 0 auto;
    }

    .whaleApps li {
        width: 53.33px;
        height: 53.33px;
    }



    /******************************
 - section5#adBanner Style
 *******************************/
    #adBanner .wordWrap{
        width: 100%;
    }

    #adBanner .noPaddingWrap{
        padding: 40px 20px 0;
    }

    #adBanner .noPaddingWrap {
        background: url("../../img/banner_beta_download_wave_360.png") bottom center / contain no-repeat;
    }

    #adBanner .cellphone {
        width: 280px;
        height: 220px;
    }
    #adBanner .noPaddingWrap h2{
        font-size: 1.5em;
    }
    #adBanner .noPaddingWrap p{
        font-size: 0.875rem;
    }
}