@media screen and (max-width: 800px) {
    /******************************
    - section5#adBanner Style
    *******************************/
    #adBanner .contents{
        background: url("../../img/banner_beta_download_wave_600.png") bottom center / contain no-repeat;
    }
    #adBanner .cellphone{
        width: 380px;
        height: 260px;
    }
    /******************************
   - section5#adBanner Style
*******************************/
    section#adBanner{
        height: 420px;
    }
    section#adBanner .contentsWrap{
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }
    #adBanner .contents-info-btn{
        padding-top: 40px;
    }
    #adBanner .cellphone {
        align-self: end;
        position: absolute;
        bottom: 0;
    }

}