@media screen and (max-width: 960px) {
    /******************************
    - section1#feature Style
    *******************************/
    #feature .contentsWrap:nth-of-type(2n-1), #feature .contentsWrap:nth-of-type(2n){
        flex-direction: column;
        height: auto;
    }

    /*artcle*/
    #feature .contentsWrap article.contents-info-btn{
        padding: 80px 28px 0 0;
        width: 100%;
        order: 1;
    }
    #feature .contentsWrap:nth-of-type(2n-1) article.contents-info-btn{
        padding-right: 32px;
    }
    #feature .contentsWrap:nth-of-type(2n) article.contents-info-btn{
        padding-left: 32px;
    }

    #feature .contentsWrap div.contents-video{
        width: 100%;
        max-width: 540px;
        order: 2;
        align-self: end;
    }
    /******************************
     - section2#secure Style
    *******************************/
    section#secure{
        padding: 80px 0 60px 0;
    }
    section#secure .titleWrap{
        margin-bottom: 50px;
    }
    section#secure .contents-gallery{
        display: none;
    }
    /*960px이하 -> accordian-Carousel에 따른 gallery 변경*/
    #secure #accordion .contents-accordion .contents-thumbnail{
        display: block;
        position: relative;
        width: 350px;
        left: 50%;
        margin-top: -40px;
        margin-left: -175px;
        bottom: -73px;
    }
    #secure #accordion{
        max-width: 100%;
        margin-right: 0;
    }
    #secure #accordion .contents-accordion.active{
        padding-bottom: 0;
    }

    #secure #accordion .contents-accordion .contents-thumbnail{
        display: block;
        opacity: 0;
    }
    #secure #accordion .contents-accordion.active .contents-thumbnail{
        opacity: 1;
    }
    #secure #accordion .contents-accordion.active>ul>li{
        width: 6px;
        height: 6px;
        margin-bottom: 7px;
    }

    #environment .titles-change{
        height: 2.5rem;
    }

    /******************************
    - section4#appService Style
    *******************************/
    section#appService .contents-whaleApps{
        width: 536px;
        height: 113.33px;
    }
    .contents-whaleApps li{
        width: 83.33px;
        height: 83.33px;
    }
    section#appService .titleWrap {
        margin: 30px auto 50px;
    }
    /******************************
      - section5#adBanner Style
  *******************************/
}