/******************************
    - reset Style
*******************************/
:root {
    --blue: #2187ec;
    --gray: #777777;
    --gray1: #ccc;
    --gray2: #cecece;
    --lightgray: #e5e5e5;
    --lightgray2: #f5f7fa;
    --navergreen: #3fc754;
    --green: #03cf5d;
    --helpBlue: #3f5bf3;
    --whaleSea: #40c3a7
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid blue;*/
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #000;
    cursor: pointer;
}

img {
    width: 100%;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    resize: none;
}

fieldset {
    border: none;
}

body, input, textarea, select, button, table {
    font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

body#whaleHelpCenter, #whaleHelpCenter input, #whaleHelpCenter select, #whaleHelpCenter button, #whaleHelpCenter table {
    font-family: 'Noto Sans KR', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

input::placeholder {
    color: var(--gray1);
}

/******************************
    - wrap Style
*******************************/
html, body {
    width: 100%;
    height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
}

/******************************
    - Main Style
*******************************/
main {
    margin-top: 80px;
}

#whaleHelpCenter main, #whaleSpace main {
    margin-top: 0;
}

/******************************
    - h, p tag Style (theme)
*******************************/
h1, h2, h3, h4, h5, h6, p {
    word-break: keep-all;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* h1 : pange MainSection title */
h1 {
    font-size: 3.125rem;
}

/* h1: 강조 title */
h1.important {
    font-size: 3.5em;
}

/* h1: 강조 title size UP*/
h1.important.big {
    font-size: 4rem;
}

/* h2 : WebPage SubSection title */
h2 {
    font-size: 2.5rem;
}

/* h2 : WebPage SubSection title 중 size down */
h2.sub {
    font-size: 2.25rem;
}

/* h2 : subSection title */
h2.important {
    font-size: 1.875rem;
}

/* h3 : WebPage title~sub description title */
h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* h3 : WebPage title~sub description title size가 조금 작은 ver*/
h3.small {
    font-size: 1.4375rem;
}

/* h4 : WebPage contents title ~ mostly li contents */
h4 {
    font-size: 1.625rem;
}

/* h5 : box 형태 컨텐츠 title */
h5, h5.boxtitle {
    font-size: 1.125rem;
}

/* h6 : 로그인 메뉴 관련 제목*/
h6{
    font-size: 1.2rem;
}

/* P : WebPage contents paragraph-default */
p {
    font-weight: 400;
    font-size: 1.125rem;
    margin-top: 12px;
}

/* P 기본보다 약간 작은 font */
p.small {
    font-size: 1rem;
}

/* 작은폰트 _ 부가 설명용 */
p.smallest {
    font-size: 0.875rem;
}

/*큰 폰트 - 강조용*/
p.big {
    font-size: 1.25rem;
}

/*p.short - 태블릿 / 스마트폰 이하 사이즈 text*/
p.short {
    display: none;
}

p.short_960 {
    display: none;
}

p.stick {
    margin-top: 0;
    font-size: 1.125rem;
}

/*밑줄*/
.underline {
    position: relative;
    margin-bottom: 20px;
}

.underline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--gray);
}

/*줄바꿈*/
br.br-1280 {
    display: none;
}

br.br-770 {
    display: none;
}

br.br-600 {
    display: none;
}

br.br-960d {
    display: none;
}

/******************************
    - BootStrap_Embeded
*******************************/
/*bootStrap*/
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-21by9::before {
    padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

/******************************
    - custom util Style
*******************************/
/*기본 버튼 스타일*/
button {
    font-size: 0.9375rem;
    padding: 12px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--lightgray);
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
}

button > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*웨일 버튼_웨일그린색*/
button.whale-Button {
    font-size: 1.025rem;
    border: none;
    background-color: var(--whaleSea);
    color: white;
    font-weight: bold;
}

button.whale-Button > a {
    color: white;
}

/*사이즈 작은 버튼*/
button.small {
    padding: 6px 15px;
    font-size: 0.8125rem;
}

.whaleLogo {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    left: -2px;
    top: 2px;
    margin-right: 5px;
}

/* xButton */
.xBtn {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    color: var(--gray);
}

/*button 호버*/
button:hover {
    background-color: var(--lightgray);
}

button.whale-Button:hover {
    background-color: #05AF96;
}

/*whale Logs*/
.whaleLogo-black {
    background: url(../img/whale_black.svg) center / contain no-repeat;
}

.whaleLogo-white {
    background: url(../img/whale_white.svg) center / contain no-repeat;
}

.whaleLogo-color {
    background: url(../img/whale_color.svg) center / contain no-repeat;
}

button.whale-Button.small .whaleLogo {
    width: 24px;
    height: 24px;
}

/*Tag 스타일*/
.tag {
    font-size: 0.8125rem;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 100px;
}

/*hevc_포맷 비디오*/
.hevcVideo {
    display: none;
}

/*에러 메세지*/
.errmsg {
    font-size: 0.825rem;
    color: red;
}

/*생략*/
.omitted {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/******************************
    - color Style (theme)
*******************************/
/* whale theme color blue => --blue: #2187ec */
.c-whale-blue {
    color: var(--blue);
}

.c-whale-gray {
    color: var(--gray);
}

.c-whale-white {
    color: white;
}

.bg-whale-blue {
    background-color: var(--blue);
}

.date {
    font-size: 0.875rem;
    color: var(--gray);
}

.c-whale-gradient {
    background: linear-gradient(90deg, rgb(66, 207, 199) 25.78%, rgb(123, 91, 249) 76.75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    clip-path: inset(1px);
}

.bg-whale-gradient1 {
    background: linear-gradient(90deg, rgb(66, 207, 199) 25.78%, rgb(123, 91, 249) 76.75%);
}

.bg-whale-gradient2 {
    background: linear-gradient(97.06deg, rgb(1, 217, 210) 1.54%, rgb(1, 60, 255) 100%);
}

/******************************
    - effect Style (theme)
*******************************/
.shadow {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

/******************************
    - layout Style
*******************************/
section {
    width: 100%;
    position: relative;
}

.contentTitle {
    font-size: 1.625rem;
}

.contentsWrap {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 84px;
    margin: 0 auto;
}

.contentsWrap.h-full {
    height: 100%;
}

.contentsWrap.middle {
    max-width: 1136px;
    padding: 0 5%;
}

.contentsWrap.small {
    padding: 0 210px;
}

.titleWrap {
    display: block;
    text-align: center;
}

/******************************
⭐⭐⭐custom components style
*******************************/
/******************************
    - contents-box style
*******************************/
/*컨텐츠 박스*/
.contents-box {
    position: relative;
    max-width: 362px;
    width: 100%;
    flex: 1 1 auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: rgba(157, 182, 221, 0.2) 15px 10px 30px, rgba(157, 182, 221, 0.2) 15px 15px 24px;
    padding-bottom: 50px;
    margin-right: 25px;
    transition: all 0.3s;
    cursor: pointer;
}

.contents-box:last-of-type {
    margin-right: 0;
}

.contents-box:hover {
    transform: translateY(-10px);
}

/******************************
    - contents-movingObject style
*******************************/
/*whaleSpace 애니메이션 오브젝트*/
.contents-movingObject {
    width: auto;
    animation: move 5s ease 0s infinite normal none running;
    position: absolute;
    scale: 0.9;
    z-index: 3;
    transition: all 0.2s;
}

/*.contents-movingObject 애니메이션*/
@keyframes move {
    0% {
        transform: rotate(0deg) translateY(10%);
    }
    50% {
        transform: rotate(10deg) translateY(0);
    }
    100% {
        transform: rotate(0deg) translateY(10%);
    }
}

/******************************
    - cardList style
*******************************/
.contents-cardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contents-cardList li {
    width: calc(50% - 12px);
    padding: 32px 36px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.contents-cardList li:nth-of-type(2n-1) {
    margin-right: 24px;
}

.contents-cardList li:nth-of-type(1), .contents-cardList li:nth-of-type(2) {
    margin-bottom: 24px;
}

.contents-cardList li .icon {
    width: 84px;
    height: 84px;
}

.contents-cardList li p {
    margin-top: 6px;
}

.contents-cardList li div:nth-of-type(2) {
    flex: 1 1 auto;
    margin-left: 24px;
}

/******************************
    - modal style
*******************************/
.cover {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

header .cover {
    z-index: 99;
}

.cover > .contentsWrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-modal {
    position: relative;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: start;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.contents-modal .xBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/******************************
    - 게시판 style
*******************************/
#guideList {
    margin: 30px 0 60px;
}

#guideList #tabs {
    width: 100%;
    margin: 30px 0;

}

/*게시판 필터 버튼*/
#guideList ul.contents-btns {
    display: flex;
    justify-content: start;
    font-size: 16px;
    padding: 15px 0;
    font-weight: bold;
}

#guideList ul.contents-btns li {
    margin-right: 20px;
}

#guideList ul.contents-btns .ui-tabs-active a {
    color: #000;
    position: relative;
}

#guideList ul.contents-btns .ui-tabs-active a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 13px;
    left: 0;
    border-bottom: 2px solid var(--green);
}

#guideList .contents-tabs ul.contents-tab-layer {
    display: none;
}

#guideList .contents-tabs ul.contents-tab-layer.active {
    display: block;
}

#guideList .contents-tabs ul li {
    display: flex;
    border-top: 1px solid var(--lightgray);
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}

#guideList .contents-tabs ul li:last-child {
    border-bottom: 1px solid var(--lightgray);
}

#guideList .contents-tabs ul li:hover {
    background: #f9fafb;
}

#guideList .contents-tabs ul li:hover p {
    font-weight: bold;
}

#guideList p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 10px 0;
    width: 100%;
}

/*게시판 페이징 버튼*/
#guideList > .contents-btns {
    display: flex;
    justify-content: center;
}

#guideList > .contents-btns > ul {
    display: flex;
    font-size: 14px;
}

#guideList > .contents-btns > ul li {
    width: 26px;
    height: 26px;
    margin-left: 8px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#guideList > .contents-btns > ul li:first-child {
    margin-left: 0;
}

#guideList > .contents-btns > ul li.active {
    color: var(--green);
    font-weight: bold;
}

#guideList > .contents-btns > ul li.active::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 80%;
    height: 80%;
    border: 2px solid var(--green);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#guideList p span:first-child {
    display: block;
    margin-right: 40px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#guideList .contents-btns .material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    font-size: 20px;
}

/*1440px(데스크탑)*/
@media screen and (max-width: 1440px) {
    /******************************
        - layout Style
    *******************************/
    .contentsWrap {
        padding: 0 36px;
    }
}

/*1320px(노트북)*/
@media screen and (max-width: 1320px) {
    /******************************
        - layout Style
    *******************************/
    .contentsWrap {
        padding: 0 32px;
    }
}

/*1280px(태블릿)*/
@media screen and (max-width: 1280px) {
    /******************************
        - h, p tag Style (theme)
    *******************************/
    h1, h1.important {
        font-size: 2.875rem;
    }

    h2.earlySmall {
        font-size: 1.875rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    br.br-1280 {
        display: block;
    }

    /******************************
        - layout Style
    *******************************/
    .contentsWrap.small {
        padding: 0 32px;
    }

    /******************************
    ⭐⭐⭐custom components style
    *******************************/
    /******************************
        - contents-movingObject style
    *******************************/
    .contents-movingObject {
        scale: 0.8;
    }

    /******************************
        - cardList style
    *******************************/
    .contents-cardList li {
        width: 100%;
        max-width: none;
        margin-bottom: 24px;
    }

    .contents-cardList li:nth-of-type(1), .contents-cardList li:nth-of-type(2) {
        margin-bottom: 24px;
    }

    .contents-cardList li:nth-of-type(2n-1) {
        margin-right: 0;
    }
}

/*960px(태블릿)*/
@media screen and (max-width: 960px) {
    /******************************
        - h, p tag Style (theme)
    *******************************/
    h1.important.big {
        font-size: 2.875rem;
    }

    h1, h1.important {
        font-size: 2.5rem;
    }

    h1.help_title {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h2.sub.early {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p, p.big {
        font-size: 1rem;
    }

    p.long_960 {
        display: none;
    }

    p.short_960 {
        display: block;
    }

    br.br-960 {
        display: none;
    }

    br.br-960d {
        display: block;
    }

    /******************************
        - layout Style
    *******************************/
    .contentsWrap.small {
        padding: 0 20px;
    }

    .contentsWrap.middle {
        padding: 0 32px;
    }

    /******************************
    ⭐⭐⭐custom components style
    *******************************/
    /******************************
        - contents-box style
    *******************************/
    .contents-box {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .contents-box:last-of-type {
        margin-right: 0;
        margin-bottom: 0;
    }

    /******************************
        - contents-movingObject style
    *******************************/
    .contents-movingObject {
        scale: 0.6;
    }
}

/*800px(태블릿)*/
@media screen and (max-width: 800px) {
    /******************************
        - h, p tag Style (theme)
    *******************************/
    h2.important {
        font-size: 1.5rem;
    }
}

/*770px(스마트폰)*/
@media screen and (max-width: 770px) {
    /******************************
        - h, p tag Style (theme)
    *******************************/
    h2.earlySmall2, h2.earlySmall {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    br.br-770 {
        display: block;
    }
}

/*740px(스마트폰)*/
@media screen and (max-width: 740px) {
    /******************************
    ⭐⭐⭐custom components style
    *******************************/
    /******************************
        - 게시판 style
    *******************************/
    #guideList p {
        flex-wrap: wrap;
    }

    #guideList p span {
        display: block;
        width: 100%;
    }

    #guideList p span:first-child {
        margin-bottom: 10px;
    }
}

/*600px(스마트폰)*/
@media screen and (max-width: 600px) {
    /******************************
        - Main Style
    *******************************/
    main {
        margin-top: 64px;
    }

    /******************************
        - h, p tag Style (theme)
    *******************************/
    h1, h1.important, h1.important.big {
        font-size: 1.875rem;
    }

    h2.sub {
        font-size: 1.625rem;
    }

    h2, h2.important, h2.earlySmall {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5.boxtitle {
        font-size: 1.025rem;
    }

    p, p.small, p.big, p.smallest {
        margin-top: 6px;
        font-size: 0.875rem;
    }

    p.stick {
        font-size: 1rem;
    }

    p.long {
        display: none;
    }

    p.short {
        display: block;
    }

    br.br-600 {
        display: block;
    }

    br.br-600r {
        display: none;
    }

    /******************************
        - layout Style
    *******************************/
    .contentsWrap, .contentsWrap.middle {
        padding: 0 20px;
    }

    /******************************
    ⭐⭐⭐custom components style
    *******************************/
    /******************************
        - contents-movingObject style
    *******************************/
    .contents-movingObject {
        scale: 0.4;
    }

    /******************************
        - cardList style
    *******************************/
    .contents-cardList li {
        padding: 20px;
    }

    .contents-cardList li .icon {
        width: 64px;
        height: 64px;
    }

    .contents-cardList li div:nth-of-type(2) {
        margin-left: 12px;
    }
}