#login{
    padding: 40px 0 80px;
}
.contents-loginBoxWrap{
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}
.contents-loginBoxWrap h1{
    margin: 0 auto 40px;
    width: 80px;
    height: 80px;
    background: url("../../img/whale_color.svg") center no-repeat;
    cursor: pointer;
}
.contents-loginBoxWrap .contents-loginBox{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    padding: 20px 28px;
}
.contents-loginBoxWrap .contents-loginBox>p{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contents-loginBoxWrap .contents-loginBox>p>span{
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-right: 10px;
    background: url("../../img/m_sp_01_login_008d5216.png") -157px -190px / 300px no-repeat;
}

.contents-loginBoxWrap .contents-loginBox input[type="button"]{
    margin-top: 40px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: none;
    background-color: #05AF96;
    color: #fff;
    cursor: pointer;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p{
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid var(--lightgray);
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:nth-of-type(1){
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:nth-of-type(2){
    top: -1px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p span, .contents-loginBoxWrap .contents-loginBox .contents-loginCheck p:nth-of-type(1) span{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:nth-of-type(1) span{
    background: url("../../img/m_sp_01_login_008d5216.png") -102px -226px / 300px no-repeat;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:nth-of-type(2) span{
    background: url("../../img/m_sp_01_login_008d5216.png") -143px -226px / 300px no-repeat;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:has(input:focus):nth-of-type(1) span{
    background: url("../../img/m_sp_01_login_008d5216.png") -82px -226px / 300px no-repeat;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:has(input:focus):nth-of-type(2) span{
    background: url("../../img/m_sp_01_login_008d5216.png") -123px -226px / 300px no-repeat;
}

.contents-loginBoxWrap .contents-loginBox .contents-loginInput p:has(input:focus){
    border: 1px solid #3fc754;
    z-index: 1;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput input{
    width: 100%;
    font-size: 0.95rem;
    cursor: pointer;
    border: none;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginInput input:focus{
    outline: none;
}

.contents-loginBoxWrap .contents-loginBox .contents-loginCheck{
    display: flex;
    justify-content: space-between;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginCheck p{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    cursor: pointer;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginCheck p label{
    cursor: pointer;
}

.contents-loginBoxWrap .contents-loginBox .contents-loginCheck p:nth-of-type(1) span{
    margin-right: 3px;
    background: url("../../img/m_sp_01_login_008d5216.png") -271px -96px / 300px no-repeat;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginCheck p:has(input:checked):nth-of-type(1) span{
    background: url("../../img/m_sp_01_login_008d5216.png") -271px -186px / 300px no-repeat;
}
.contents-loginBoxWrap .contents-loginBox .contents-loginCheck p input[type="checkbox"]{
    display: none;
}

.contents-loginBoxWrap .contents-loginFindMenu ul{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 40px;
}
.contents-loginBoxWrap .contents-loginFindMenu ul li{
    text-align: center;
    flex: 1 1 auto;
    position: relative;
}
.contents-loginBoxWrap .contents-loginFindMenu ul li:nth-of-type(2):before{
    content : "";
    position: absolute;
    top: 20%;
    left: 0;
    border: solid var(--lightgray);
    border-width: 0 1px;
    width: 100%;
    height: 60%;
}
.contents-loginBoxWrap .contents-img img{
    width: 100%;
}

