@media screen and (max-width: 1320px) {
    #gnb {
        padding: 21px 32px;
    }
    #main-menu{
        display: none;
    }


    #subBtn {
        width: 188px;
    }

    #subBtn > #menuBtn {
        display: block;
        font-weight: lighter;
        font-size: 22px;
        position: relative;
        bottom: 3px;
        margin-left: 20px;
    }

    /******************************
    - footer Style
    *******************************/
    .footerWrap{
        padding: 21px 32px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .footerMenu2{
        padding-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}