/*기본 section 설정*/
section#guideMain {
    background: linear-gradient(rgb(245, 247, 250) 0%, rgba(245, 247, 250, 0) 123.72%, rgba(245, 247, 250, 0.5) 123.72%);
    height: 430px;
}

#guideMain .contentsWrap{
    height: 100%;
}

/*artcle*/
#guideMain .contentsWrap .contents-info {
    position: relative;
    width: 50%;
    word-break: keep-all;
    z-index: 1;
}

#guideMain .contents-info p{
    width: 55%;
}

/*video 설정*/
#guideMain .contentsWrap .contents-img {
    height: 430px;
    align-self: end;
    width: 50%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
}

#guideMain .contents-img picture {
    text-align: right;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#guideMain picture img{
    height: 100%;
}

#update{
    padding: 56px 0 96px;
}
#update .contentsWrap, #press .contentsWrap {
    justify-content: space-between;
    margin-top: 24px;
}
#update button.small, #press button.small{
    padding: 10px 15px;
}

#update .contentsWrap .contents-card {
    margin-right: 24px;
    position: relative;
}

#update .contentsWrap .contents-card:last-child {
    margin-right: 0;
}

#update .tag{
    background: rgba(256,256,256,0.7);
    color: #000;
    top: 15px;
    left: 15px;
    mix-blend-mode: screen;
    position: absolute;
}

#update img {
    width: 100%;
}

#press{
    padding-bottom: 120px;
}
#press ul, #press ul li{
    width: 100%;
}
#press p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#press .contentsWrap ul li{
    padding: 20px 0;
    border-bottom: 1px solid var(--lightgray);
}

#press .contentsWrap ul li:last-of-type{
    border-bottom: none;
}

#press .tag{
    background: var(--blue);
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}

