@media screen and (max-width: 1024px) {
    section#whaleWithSchool .contentsWrap:nth-of-type(2){
        flex-direction: column;
        align-items: center;
    }

    section#whaleWithSchool .contents-info{
        width: 80%;
        max-width: 546px;
        justify-content: center;
    }

    section#whaleWithSchool .contents-info img{

    }

    section#whaleWithSchool .contents-img img{
        max-width: 90%;
    }

    section#whaleWithSchool .contents-info button{
        display: none;
    }
    section#whaleWithSchool .contentsWrap>button{
        display: flex;
    }

}