@media screen and (max-width: 770px) {

    section#wacomPen, section#whaleOS, section#smartStudy{
        padding-top: 90px;
        height: 670px;
    }

    section#whaleWithSchool{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    section#checkDevice {
        background: url("../../img/Whalebook_bg1_m_1013.jpg") top center / cover no-repeat;
    }

    section#checkDevice .whaleBookLogo {
        width: 280px;
        padding-bottom: 15px;
    }

    section#checkDevice .contents-img {
        padding-top: 120px;
        width: 100%;
    }

    section#checkDevice .contents-info-btn p {
        padding-top: 12px;

    }

    section#checkDevice .contents-img img {
        width: 100%;
    }

    section#checkDevice .contents-info-btn button {
        margin: 40px auto 0;
    }

    section#wacomPen .contents-info {
        margin-bottom: 80px;

    }

    section#wacomPen .contents-img img {
        height: 100%;
        max-height: 200px;
    }

    section#whaleOS .whaleOSLogo {
        width: 157px;
    }

    section#whaleOS .contents-info p {
        padding: 10px 0 25px;
    }

    section#whaleOS .contents-img img {
        height: 100%;
        max-height: 250px;
    }

    section#smartStudy .underline {
        margin-bottom: 7px;
    }

    section#smartStudy .contents-info {
        margin: 0 auto 10px;
    }



}