/******************************
    - sections
*******************************/
/*기본 section 설정*/
section#checkDevice, section#wacomPen, section#whaleOS, section#smartStudy {
    height: 900px;
}

section#wacomPen, section#whaleOS, section#smartStudy, section#whaleWithSchool {
    padding-top: 80px;
}

section#checkDevice {
    background: url("../../img/Whalebook_bg1_1013.jpg") top center / cover no-repeat;
}

section#whaleOS {
    background: url("../../img/Whalebook_bg3_1013.jpg") top center/ cover no-repeat;
}

section#whaleWithSchool {
    padding-bottom: 80px;
    background: url("../../img/Whalebook_bg6_1013.jpg") top center/ cover no-repeat;
}

/******************************
    - section1#checkDevice
*******************************/
/*section 내부 로고*/
#checkDevice .whaleBookLogo {
    width: 342px;
    padding-bottom: 25px;
}

/*product Img*/
#checkDevice .contents-img {
    padding-top: 50px;
}

#checkDevice .contents-img img {
    width: 785px;
}

/******************************
    - section2#wacomPen
*******************************/
/*section 내부 설명*/
#wacomPen .contents-info, #whaleOS .contents-info, #smartStudy .contents-info {
    margin: 0 auto 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*section 내부 로고*/
#wacomPen .lgWhaleBookLogo {
    width: 320px;
}

/*product Img*/
#wacomPen .contents-img, #whaleOS .contents-img {
    margin: 0 auto;
}

#wacomPen .contents-img img {
    max-width: 1280px;
}

/******************************
    - section3#whaleOS
*******************************/
/*section 내부 설명*/
#whaleOS .contents-info p {
    padding: 30px 0;
}

/*section 내부 로고*/
#whaleOS .whaleOSLogo {
    width: 230px;
}
/*product Img*/
#whaleOS .contents-img img {
    max-width: 910px;
}

/******************************
    - section4#smartStudy
*******************************/
/*section 내부 설명*/
#smartStudy .contents-info {
    margin: 0 auto 30px;
}

/*video*/
#smartStudy .contents-youtube {
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
}

#smartStudy .adVideo {
    border-radius: 20px;
    width: 83%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
}

#smartStudy .contents-youtube img.thumbnail {
    position: absolute;
    border-radius: 20px;
    width: 83%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    cursor: pointer;
}

/*재생버튼*/
#smartStudy .contents-youtube .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    font-size: 9rem;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
}

#smartStudy .contents-youtube img.thumbnail:hover + .playButton {
    color: rgba(0, 0, 0, 0.5);
}

/******************************
    - section5#whaleWithSchool
*******************************/
/*기본 section 설정*/
#whaleWithSchool .contentsWrap {
    text-align: center;
    justify-content: center;
}

/*section 내부 설명*/
#whaleWithSchool .contents-info {
    width: 42.7%;
}

#whaleWithSchool .contentsWrap:nth-of-type(2) {
    margin-top: 40px;
    align-items: start;
    justify-content: space-around;
}

/*product Img*/
#whaleWithSchool .contents-img {
    padding-top: 64px;
}

#whaleWithSchool .contents-img img {
    max-width: 597px;
}

/******************************
    - modal
*******************************/
.contents-modal {
    padding: 35px;
}

.contents-modal form p {
    margin: 0;
}

.contents-modal form fieldset {
    border: none;
    margin-bottom: 10px;
}

/*필드명*/
.contents-modal form legend {
    font-size: 0.875rem;
    padding-bottom: 10px;
}

/*구분*/
.contents-modal form input:not([type="radio"]), .contents-modal form select, .contents-modal form textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    padding: 10px;
}

.contents-modal form input:not([type="radio"]), .contents-modal form select {
    height: 40px;
}

/*submit / 취소 버튼*/
.contents-modal .buttonSet {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.contents-modal .buttonSet button {
    margin-left: 10px;
}

.contents-modal .buttonSet button:nth-of-type(2) {
    background-color: var(--whaleSea);
    border: none;
    color: #fff;
}

/*개인정보 주의 문구*/
.contents-modal .personalInfo span {
    font-size: 0.825rem;
    margin-right: 5px;
}

.contents-modal .personalInfo {
    font-size: 0.725rem;
    color: lightgray;
    display: flex;
    align-items: center;
}