/*960px(태블릿)*/
@media screen and (max-width: 960px) {
    /******************************
        - section1#guideHeader
    *******************************/

    /*기본 section 설정*/
    section#guideHeader{
             height: 360px;
    }
}


/*600px(스마트폰)*/
@media screen and (max-width: 600px) {
    /******************************
        - section1#guideHeader
    *******************************/

    /*기본 section 설정*/
    section#guideHeader{
        height: 216px;
    }

    /*헤더 세부스타일 설정*/
    #guideHeader .contentsWrap .contents-img {
        height: 160px;
        right: -20px;
    }
}