@media screen and (max-width: 600px) {
   h1{
       font-size: 1.5rem;
   }
    h2{
        font-size: 1.25rem;
    }

    #detailsCarousel {
        height: 216px;
    }
    #myCarousel .contents-gallery li:nth-of-type(1) .contents-bgImg{
        background: url("../../img/banner_omnitasking_icon_360.png") top right / auto 100% no-repeat;
    }

    #myCarousel .contents-gallery li:nth-of-type(2) .contents-bgImg{
        background: url("../../img/banner_security_icon_360.png") top right / auto 100% no-repeat;
    }

    #myCarousel .contents-gallery li:nth-of-type(3) .contents-bgImg{
        background: url("../../img/banner_customizing_icon_360.png") top right / auto 100% no-repeat;
    }
    #myCarousel .contents-btn {
        padding: 10px 0;
    }
    #myCarousel .contents-btn li {
        padding: 7px 15px;
        font-size: 0.8125rem;
    }

    #myCarousel .contents-info .contents-info p{
        margin-top: 6px;
        max-width: 200px;
        padding-right: 0;
    }

    section.section-details>.contents-info>section{
        padding: 50px 0 60px;
    }
    section.section-details video{
        margin-top: 20px;
        min-width: unset;
    }

    section.section-details .contents-info .contents-info{
        margin-left: 0;
    }
    section.section-details .contents-icon{
        display: none;
    }

    section.section-details .contents-info .contents-info p.c-whale-blue{
        margin-top: 16px;
    }
}