main {
    margin-top: 80px;
    background-color: #f7f9fb;
}

/*기본 section 설정*/

#downloadMain .contentsWrap{
    height: 540px;
}

/*artcle*/
#downloadMain .contentsWrap article.info{
    position: relative;
    width: 50%;
    word-break: keep-all;
}

#downloadMain .contentsWrap .title{
    line-height: 120%;
}
#downloadMain .contentsWrap .paragraph span{
    color: #2187ec;
    font-weight: 500;
}

/*video 설정*/
#downloadMain .contentsWrap div.img{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}

#downloadMain .contentsWrap img{
    width: 100%;
}

/*button 설정*/
#downloadMain .contentsWrap .buttonWrap{
    display: flex;
}

section#whaleDownload{
    padding: 80px 0 120px;
    border-bottom: 1px solid #e5e5e5;
}

#whaleDownload .title{
    font-size: 2.25rem;
}
#whaleDownload .paragraph {
    font-size: 0.875rem;
}

.macOS{
    background:  white url("../../img/ic_mac_84.png") center / contain no-repeat;
}
.linux{
    background: white  url("../../img/ic_linux_84.png") center / contain no-repeat;
}
.android{
    background:  white url("../../img/ic_android_84.png") center / contain no-repeat;
}
.ios{
    background:  white url("../../img/ic_ios_84.png") center / contain no-repeat;
}
