@media screen and (max-width: 960px) {
    #story .bgWrap{
        height: 400px;
    }
    #story>div:last-child{
        padding: 78px 0;
    }

    #story .contents-video{
        width: 560px;
        margin-top: 40px;
        padding: 7px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    #story .contents-video video{
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
    }
    #mainFeature .contentsWrap ul{
       flex-wrap: wrap;
    }
    #mainFeature h2{
        margin-bottom: 24px;
    }
    #mainFeature .contentsWrap ul li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
}