main {
    margin-top: 80px;
}

/*기본 section 설정*/
section#guideMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: linear-gradient(rgb(245, 247, 250) 0%, rgba(245, 247, 250, 0) 123.72%, rgba(245, 247, 250, 0.5) 123.72%);
    height: 430px;
}

.titleAni .subtitleAni .paragraphAni .buttonAni .videoAni {
    position: relative;
    top: -5%;
    opacity: 0;
}

/*artcle*/
#guideMain .contentsWrap article.info {
    position: relative;
    width: 50%;
    word-break: keep-all;
    z-index: 1;
}

#guideMain .contentsWrap .title {
    line-height: 120%;
}

#guideMain .contentsWrap .paragraph{
    width: 55%;
}
#guideMain .contentsWrap .paragraph.short{
    display: none;
}

/*video 설정*/
#guideMain .contentsWrap div.img {
    height: 430px;
    align-self: end;
    width: 50%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
}

#guideMain .contentsWrap picture {
    text-align: right;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#guideMain picture img{
    height: 100%;
}

#update{
    padding: 80px 0 120px;
}

#update .contentsWrap, #press .contentsWrap {
    margin: 0 auto;
    justify-content: space-between;
}

#update .contentsWrap .updateInfo {
    margin-right: 24px;
}

#update .contentsWrap .updateInfo:last-child {
    margin-right: 0;
}

#update img {
    width: 100%;
}

section button{
    font-size: 0.8125rem;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
}
#press{
    padding-bottom: 120px;
}
#update .contentsWrap, #press ul{
    margin-top: 24px;
}
#press ul, #press ul li{
    width: 100%;
}
#press .paragraph {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#press .contentsWrap ul li{
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

#press .contentsWrap ul li:last-of-type{
    border-bottom: none;
}


.date{
    font-size: 0.875rem;
}

.tag{
    background: #4285f4;
    font-size: 0.8125rem;
    color: #fff;
    font-weight: bold;
    padding: 3px 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
}

