@media screen and (max-width: 800px) {
    /******************************
    - section5#adBanner Style
    *******************************/
    #adBanner .contents{
        background: url("../../img/banner_beta_download_wave_600.png") bottom center / contain no-repeat;
    }
    #adBanner .cellphone{
        width: 380px;
        height: 260px;
        background: url("../../img/banner_beta_download_phone_600.png") bottom right / contain no-repeat;
    }
    /******************************
   - section5#adBanner Style
*******************************/
    section#adBanner{
        height: 420px;
    }
    #adBanner .noPaddingWrap{
        padding: 50px 32px;
    }
    #adBanner .wordWrap{
        width: calc(100% - 150px);
    }

}