main {
    margin-top: 80px;
}

#detailsCarousel {
    width: 100%;
    height: 430px;
    position: relative;
}
#myCarousel{
    display: flex;
    justify-content: center;
    position: relative;
}
#myCarousel,#myCarousel .gallery,#myCarousel .gallery li{
    height: 100%;
    width: 100%;
}
#myCarousel .gallery{
    position: relative;
}
#myCarousel .gallery li{
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
}
#myCarousel .gallery li.active{
    opacity: 1;
}

#myCarousel .gallery li:nth-of-type(1) {
    background: rgb(85, 200, 158);
    background: linear-gradient(135deg, rgba(85, 200, 158, 1) 0%, rgba(36, 162, 155, 1) 100%);
}
#myCarousel .gallery li:nth-of-type(1) .galleryBgImg{
    background: url("../../img/banner_omnitasking_icon_1440.png") top right / auto 100% no-repeat;
}

#myCarousel .gallery li:nth-of-type(2) {
    background: rgb(112, 132, 249);
    background: linear-gradient(135deg, rgba(112, 132, 249, 1) 0%, rgba(40, 84, 243, 1) 100%);
}
#myCarousel .gallery li:nth-of-type(2) .galleryBgImg{
    background: url("../../img/banner_security_icon_1440.png") top right / auto 100% no-repeat;
}

#myCarousel .gallery li:nth-of-type(3) {
    background: rgb(124, 116, 250);
    background: linear-gradient(135deg, rgba(124, 116, 250, 1) 0%, rgba(110, 63, 228, 1) 100%);
}
#myCarousel .gallery li:nth-of-type(3) .galleryBgImg{
    background: url("../../img/banner_customizing_icon_1440.png") top right / auto 100% no-repeat;
}
#myCarousel .gallery .galleryBgImg{
    width: 100%;
    height: 100%;
}

#myCarousel .btn_set {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

#myCarousel .btn_set li {
    padding: 10px 15px;
    margin: 0 5px;
    list-style: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9375rem;
    color: rgba(255,255,255,0.7);
    font-weight: bold;
}

#myCarousel .btn_set li.active {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.4);
}

#myCarousel .btn-wrap{
    position: absolute;
    top: 0;
}


#myCarousel .info-Wrap{
    position: absolute;
    height: 100%;
    top: 0;
    align-items: center;
}

#myCarousel .infoGal{
    width: 100%;
    height: 40%;
    margin-top: 20px;
    z-index: 4;
    position: relative;
    overflow: hidden;
}
#myCarousel .infoGal li{
    position: absolute;
    width: 100%;
    color: #fff;
    top: 100%;
}
#myCarousel .infoGal li.active{
    top: 0;
}

#myCarousel .infoGal .paragraph{
    width: 100%;
    max-width: 450px;
    color: rgba(255,255,255,0.7);
}

#myCarousel .paragraph.shorten{
    display: none;
}

section.detailsSection .iconsBox{
    flex: 0 0 auto;
    width: 84px;
    height: 84px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.detailsSection{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
section.detailsSection.active{
    display: block;
}

section.detailsSection>.detailWrap>section{
    width: 100%;
    padding: 140px 0;
    display: flex;
    justify-content: center;
}
section.detailsSection article{
    width: 100%;
    display: flex;
}
section.detailsSection .title{
    font-size: 2.5rem;
    margin-top: 24px;
    word-break: keep-all;
}
section.detailsSection .subtitle{
    font-size: 1.125rem;
    margin-top: 48px;
}
section.detailsSection .info-Wrap{
    width: 100%;
}

section.detailsSection video{
    flex: 0 0 auto;
    width: 620px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
section.detailsSection article .detailContentsWrap{
    width: 100%;
    height: 100%;
    margin-right: 90px;
    flex: 1 1 auto;
}
section.detailsSection>.detailWrap>section:nth-of-type(2n){
    background-color: #f7f9fb;
}
section.detailsSection>.detailWrap>section:nth-of-type(2n) article{
    flex-direction: row-reverse;
    background-color: #f7f9fb;
}
section.detailsSection>.detailWrap>section:nth-of-type(2n) article .detailContentsWrap{
    margin-right: 0;
    margin-left: 90px;
}
section.detailsSection .iconsBox img{
    display: block;
    width: 36px;
}