@media screen and (max-width: 1280px) {
    #infoCarousel #myCarousel {
        width: 744px;
        height: 356px;
    }

    #infoCarousel #myCarousel .f-carousel__viewport{
        height: 316px;
    }
    #infoCarousel .f-carousel__slide .contents-info{
        padding: 60px 70px 0;
    }
    #infoCarousel .f-carousel__slide .contents-info h1{
        font-size: 2.4rem;
        line-height: 120%;
    }
    #infoCarousel .f-carousel__slide .contents-info p{
        width: 390px;
        font-size: 1rem;
    }

    .element-item {
        width: calc((100% - 72px)/3);
    }
}