@media screen and (max-width: 600px) {
    main{
        margin-top: 64px;
    }
    #downloadMain .contentsWrap div.img{
        margin-top: 30px;
    }
    #downloadMain .contentsWrap img{
        width: 100%;
        max-height: 202px;
    }
    #downloadMain button{
        margin-top: 28px;
    }

    section#downloadMain > div.contents {
        padding: 80px 20px 70px 20px;
    }

    section#whaleDownload{
        padding: 60px 0 46px;

    }
    #whaleDownload .title{
        font-size: 1.625rem;
    }
    .downloadOS li{
        padding: 20px;
    }

    .downloadOS li .icon{
        width: 64px;
        height: 64px;
    }
    .downloadOS li h3{
        font-size: 1.125rem;
    }
    .downloadOS li div:nth-of-type(2){
        margin-left: 12px;
    }
}