@media screen and (max-width: 1280px) {
    /******************************
    - section1#feature Style
    *******************************/
    #feature .contentsWrap{
        height: 560px;
    }
    /******************************
      - section2#secure Style
     *******************************/
    section#secure{
        padding: 120px 0;
    }
    #secure #accordion{
        min-width: 338px;
    }

    #environment .titles-change{
        height: 2.875rem;
    }
    #adBanner .contentsWrap {
        padding-left: 32px;
    }

}