/*960px(태블릿)*/
@media screen and (max-width: 960px) {
    /******************************
        - section1#helpSearch Style
    *******************************/
    /*기본 section 설정*/
    section#helpSearch {
        height: 253px;
        padding: 90px 0 50px;
    }

    /*title*/
    #helpSearch .titleWrap {
        text-align: left;
    }

    /*검색창*/
    #helpSearch form {
        max-width: unset;
        margin: 23px auto;
    }

    /*검색 필터*/
    #helpSearch .contents-tabButton {
        display: none;
    }

    /******************************
        - section2#questions
    *******************************/
    /*기본 section 설정*/
    section#questions, section#tutorial {
        padding: 65px 0;
    }

    /*컨텐츠 박스 설정*/
    #tutorial .contents-box-square {
        margin-top: 15px;
        margin-right: 15px;
        padding: 23px 15px;
        width: calc((100% - 15px) / 2);
        height: 144px;
        flex-wrap: wrap;
        align-items: start;
    }

    #tutorial .contents-box-square:nth-of-type(3n) {
        margin-right: 15px;
    }

    #tutorial .contents-box-square:nth-of-type(2n) {
        margin-right: 0;
    }

    /*컨텐츠박스 내부 이미지*/
    .contents-box-square .contents-img {
        width: unset;
        margin-right: 15px;
        flex: 0 0 auto;
    }

    .contents-box-square .contents-img img {
        width: 36px;
    }

    /*컨텐츠박스 내부 설명*/
    .contents-box-square .contents-info {
        flex-direction: row;
        padding-top: 3px;
        padding-right: 0;
    }

    #tutorial .contents-box-square .short_960 {
        width: 100%;
    }

    /******************************
        - section4#goToHome
    *******************************/
    /*기본 section 설정*/
    section#goToHome {
        padding: 80px 0 55px;
    }

    /*이동버튼*/
    #goToHome .contents-info-btn, #goToHome .contents-info-btn button {
        width: 100%;
    }
}