@media screen and (max-width: 1280px) {
    #gnb{
        transition:all 0.1s;
    }

    #subBtn{
        justify-content: end;
    }

    #subBtn > button > .whaleLogo{
        display: none;
    }
}