@media screen and (max-width: 1440px) {
    #gnb {
        padding: 21px 36px;
    }
    #whaleSpace #gnb {
        padding: 21px 84px;
    }

    #main-menu > li:nth-of-type(3) ul {
        transform: translateX(-2%);
        width: 200%;
    }

    /******************************
    - footer Style
    *******************************/
    .footerWrap {
        padding: 21px 36px;
    }
}