@media screen and (max-width: 960px) {
    #whaleHelpCenter header{
        height: 64px;
    }
    #whaleHelpCenter #gnb {
        padding: 0 20px;
    }

    #whaleHelpCenter #gnb-appMenu{
        display: none;
    }

    #whaleHelpCenter #subBtn > #menuBtn{
        display: block;
    }
}