/******************************
    - gnb Style
*******************************/
header {
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999999;
    background: white;
    transition: all 0.2s;
}

#gnb {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 21px 84px;
    position: relative;
}

/*Main logo*/
#gnb h1 {
    width: 165px;
    margin-right: 60px;
    position: relative;
    display: flex;
    align-items: end;
}

#gnb h1 > a {
    display: flex;
    align-items: end;
}

#naver {
    background: url("../../img/NAVERLogo.svg") no-repeat;
    width: 50%;
    height: 15.5px;
    margin-right: 5px;
}

#whale {
    background: url("../../img/whaleType.svg") no-repeat;
    width: 50%;
    height: 20px;
}

/*Main-Menu-Bar style*/
#main-menu {
    max-width: 828px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 60px;
    position: relative;
    flex: 1 1 auto;
}

/*1330 이하 화면 Main-Menu-Bar-nav*/
#main-menu .main-menu-nav {
    display: none;
}

#main-menu > li {
    position: relative;
    margin-right: 38px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#main-menu > li:last-child {
    margin-right: 0;
}

li.active .check{
    font-weight: bold;
}

#main-menu > li:nth-of-type(2), #main-menu > li:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*2depth menu 효과를 위한 div 부여*/
#main-menu .menu-sub-2 {
    display: flex;
    align-items: center;
}

#main-menu .subMenuBoxWrap {
    position: absolute;
    width: 100%;
    top: 20px;
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subMenuBoxWrap a{
    display: flex;
    align-items: center;
}

/*2depth menu 토글버튼*/
#main-menu > li .material-symbols-outlined {
    font-size: 25px;
    width: 20px;
    height: 20px;
    font-variation-settings: 'FILL' 0,
    'wght' 25,
    'GRAD' 0,
    'opsz' 24;
    color: #222222;
    position: relative;
}

#main-menu > li:hover .material-symbols-outlined.dropdown {
    transform-origin: 60% 60%;
    transform: rotatez(180deg);
}

#main-menu > li:hover .material-symbols-outlined.dropdown::after {
    background-color: #E5E4E3;
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: 5px;
    top: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: -1;
}

/*2depth menubox*/
.subMenuBox {
    padding: 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

#main-menu > li:nth-of-type(2) ul {
    width: 115%;
}

#main-menu > li:nth-of-type(3) ul {
    width: 200%;
}

/*2depth menubox 세부*/
#main-menu .subMenuBox li {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/*2depth menubox 세부:hover*/
#main-menu .subMenuBox li:hover {
    background-color: #E5E4E3;
}

/* 우측 추가 버튼 */
#subBtn {
    display: flex;
    justify-content: start;
    align-items: center;
}

/*다운로드 버튼*/
#subBtn > button {
    margin-right: 20px;
}
#subBtn > button > .whaleLogo {
    width: 15.4px;
    height: 15.4px;
}

/* 앱박스 */
#gnb-appMenu {
    position: relative;
}
#gnb-appMenu > img {
    width: 18.5px;
    cursor: pointer;
}
#gnb-appMenu .subMenuBox{
    right: 0;
    width: 362px;
    position: absolute;
}
#gnb-appMenu .subMenuBox>li {
    width: 100%;
    font-size: 0.9375rem;
    padding: 3.5px 0 3.5px 20px;
}
#gnb-appMenu .subMenuBox>li:first-child{
    margin-bottom: 8px;
}
#gnb-appMenu .subMenuBox .appMenu-Apps{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#gnb-appMenu .subMenuBox .appMenu-Apps li{
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
#gnb-appMenu .subMenuBox .appMenu-Apps li:last-child{
    margin-bottom: 0;
}

#gnb-appMenu .subMenuBox .appMenu-Apps li img {
    width: 24px;
    margin-right: 10px;
}

/*1320px~ 숨김메뉴*/
#subBtn > #menuBtn {
    display: none;
    cursor: pointer;
}

.hide {
    display: none;
}

/******************************
    - mobile-gnb Style
*******************************/
.cover {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-color: black;
    display: none;
}

#mobileGnb{
    position: fixed;
    z-index: 999;
    margin: 0;
    top: 0;
    right: -1px;
    width: 315px;
    height: 100vh;
    justify-content: start;
    align-items: start;
    background-color: white;
    display: none;
}

#mobile-menu .mobile-menu-nav {
    display: flex;
    height: 58px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#mobile-menu>li:nth-of-type(1){
    margin-top: 10px;

}
#mobile-menu>li{
    padding: 0 20px;
    font-weight: bold;
}

#mobile-menu li{
    position: relative;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
}
#mobile-menu li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-menu>li>ul>li{
    font-weight: normal;
}

#mobile-menu hr{
    margin: 15px 0;
    border: none;
    background-color: #e6e6e6;
    height: 1px;
}

#mobile-menu .page{
    display: block;
}

.mobile-menu-nav .mobile-menu-btn {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
    width: 18.5px;
    margin-right: 5px;
}

#mobileGnb .downloadBtn{
    width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
    position: absolute;
    padding: 10px;
}

#mobileGnb .downloadBtn > .whaleLogo, footer button>.whaleLogo {
    width: 18px;
    height: 18px;
}
#mobile-subMenu{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99999999;
    background-color: white;
    display: none;
}
#mobile-gnb-appMenu ul{
    display: flex;
    flex-wrap: wrap;
    padding:  5px 20px;
}
#mobile-gnb-appMenu h4{
    padding-left: 20px;
}

#mobile-gnb-appMenu ul li{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 7px 0;
}

#mobile-gnb-appMenu li img {
    width: 28px;
    margin-right: 10px;
}

.mobile-menu-nav .material-symbols-outlined{
    font-size: 30px;
    margin-left: -5px;
    font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
    cursor: pointer;
}

#mobile-subMenu .mobile-menu-nav{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px 30px 10px;
    font-weight: bold;
}

/******************************
    - footer Style
*******************************/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--lightgray);
}
.footerWrap{
    width: 100%;
    max-width: 1440px;
    padding: 21px 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerMenu{
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
}
.footerMenu li{
    margin-bottom: 10px;
}

.footerMenu2{
    display: flex;
    align-items: center;
}
.snsIcons{
    display: flex;
    padding-right: 10px;
}
.snsIcons li{
    margin-right: 20px;
}
.snsIcons li img{
    width: 18px;
}
.footerMenu li{
    margin-right: 20px;
}
